.custom-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #102d4e;
    color: white;
}

.custom-button:hover {
    background-color: #1a4c85   ;
}
