.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #102d4e;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 40px;
    width: auto;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav-item {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.nav-item:hover {
    text-decoration: underline;
}
